<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
         xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
         xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
         xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
         xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         IgnorableNamespaces="uap uap3 desktop desktop4 desktop5 com rescap">

  <Identity Name="ImageConverter" Publisher="CN=ImageConverter" Version="1.0.0.0" ProcessorArchitecture="x64" />

  <Properties>
    <DisplayName>Image Converter</DisplayName>
    <PublisherDisplayName>Image Converter</PublisherDisplayName>
    <Logo>Assets\app.png</Logo>
    <Description>Convert images between formats from the right-click menu</Description>
  </Properties>

  <Resources>
    <Resource Language="en-us" />
  </Resources>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

  <Applications>
    <Application Id="ImageConverter" Executable="ImageConverter.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements DisplayName="Image Converter" 
                          Description="Convert images between formats"
                          BackgroundColor="transparent" 
                          Square150x150Logo="Assets\app.png"
                          Square44x44Logo="Assets\app.png">
        <uap:DefaultTile Wide310x150Logo="Assets\app.png" />
      </uap:VisualElements>

      <Extensions>
        <!-- File Type Association for context menu -->
        <uap3:Extension Category="windows.fileTypeAssociation">
          <uap3:FileTypeAssociation Name="imageconverter" Parameters="&quot;%1&quot;">
            <uap:SupportedFileTypes>
              <uap:FileType>.jpg</uap:FileType>
              <uap:FileType>.jpeg</uap:FileType>
              <uap:FileType>.png</uap:FileType>
              <uap:FileType>.gif</uap:FileType>
              <uap:FileType>.bmp</uap:FileType>
              <uap:FileType>.webp</uap:FileType>
              <uap:FileType>.tiff</uap:FileType>
              <uap:FileType>.tif</uap:FileType>
              <uap:FileType>.ico</uap:FileType>
            </uap:SupportedFileTypes>
          </uap3:FileTypeAssociation>
        </uap3:Extension>

        <!-- Shell Extension for context menu command -->
        <desktop4:Extension Category="windows.fileExplorerContextMenus">
          <desktop4:FileExplorerContextMenus>
            <desktop5:ItemType Type=".jpg">
              <desktop5:Verb Id="ConvertImage" Clsid="00000000-0000-0000-0000-000000000000" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".jpeg">
              <desktop5:Verb Id="ConvertImage" Clsid="00000000-0000-0000-0000-000000000000" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".png">
              <desktop5:Verb Id="ConvertImage" Clsid="00000000-0000-0000-0000-000000000000" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".gif">
              <desktop5:Verb Id="ConvertImage" Clsid="00000000-0000-0000-0000-000000000000" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".bmp">
              <desktop5:Verb Id="ConvertImage" Clsid="00000000-0000-0000-0000-000000000000" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".webp">
              <desktop5:Verb Id="ConvertImage" Clsid="00000000-0000-0000-0000-000000000000" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".tiff">
              <desktop5:Verb Id="ConvertImage" Clsid="00000000-0000-0000-0000-000000000000" />
            </desktop5:ItemType>
            <desktop5:ItemType Type=".ico">
              <desktop5:Verb Id="ConvertImage" Clsid="00000000-0000-0000-0000-000000000000" />
            </desktop5:ItemType>
          </desktop4:FileExplorerContextMenus>
        </desktop4:Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>
